<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Chat</title>
    <link rel="stylesheet" href="/newStyle.css">
</head>
<body>
    <h2>Edit your Chat : <%= chat._id %></h2>
    <h5>This chat is sent from <%= chat.from %> to <%= chat.to %></h5>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <textarea name="message" placeholder="Message"><%= chat.message %></textarea>
        <button type="submit">Update</button>
</body>
</html>