<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini ChatApp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Welcome to Mini ChatApp</h2>
    <form action="/chats/new" method="GET">
        <button type="submit">Create New Chat</button>
    </form>
    <% for (let chat of chats) { %>
        <div>
            <h3>From : <%= chat.from %></h3>
            <div>
                <p><%= chat.message %></p>
                <form action="/chats/<%= chat._id %>/edit" method="GET">
                    <button type="submit">Edit</button>
                </form>
                <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <h3>To : <%= chat.to %></h3>
            <p>Created At : <%= chat.created_at.toString().split(" ") [4] %></p>

        </div>
    <% } %>
</body>
</html>